.Section {
  display: grid;
  grid-template-columns: 380px 4fr;
  grid-template-rows: 150px auto;
  grid-gap: 0px 0px;
  grid-template-areas: 'watchlist search-bar' 'watchlist2 movie-list';
  min-width: 100%;
  min-height: 100vh;
}

.WatchListBox {
  padding: 15px;
  grid-row: 2 span;
}

.SearchBar {
  padding: 15px;
  grid-area: search-bar;
}

.SearchBarBox {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
}

.Movies {
  grid-area: movie-list;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
